mat-card {
    width:  40%;
    margin: 25px auto 10px auto;
}

.formField {
    display: flex;
    flex-direction: column;
}

.questionInput {
    height: 100px;
}

.askLogo {
    display: block;
    margin: 25px auto;
}

.logoContainer {
    text-align: center;
}

.scrollContainer {
    margin-top: 150px;
    justify-content: center;
    text-align: center;
}

.questionContainer {
    margin-top: 100vh;
    padding-bottom: 100vh;
}

.adminLink {
    position: absolute;
    top: 2px;
    left: 2px;
}

.adminLink:hover {
    color: #E55604;
}

.adminForm {
    display: flex;
    flex-direction: column;
}

.submitBtn {
    margin-bottom: 10px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
}

.feedbackContainer {
    height: 25px;
    text-align: center;
}

.qTimestamp {
    position: absolute;
    top: 5px;
    right: 5px;
}

@media (max-width: 768px) {
    .card-container {
        width: 100%;
    }

    .logoContainer {
        width: 100%;
    }

    mat-card {
        width: 90%;
    }

    .askLogo {
        width: 70%;
    }
}