<div class="logoContainer" id="topContainer">
  <img class="askLogo" src="../assets/ask.png" />
</div>

<mat-icon (click)="adminToggle()" class="adminLink">lock</mat-icon>

<div *ngIf="!showAdmin">
  <mat-card>
    <mat-card-header>
      <h3>Ask me a question!</h3>
    </mat-card-header>
    <mat-card-content class="formField">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          [(ngModel)]="userName"
          matInput
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-mail Address</mat-label>
        <input
          [(ngModel)]="userEmail"
          matInput
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Question</mat-label>
        <textarea
          [(ngModel)]="userQuestion"
          matInput
          [ngModelOptions]="{ standalone: true }"
          class="questionInput"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
    <button mat-button (click)="submitQuestion()" class="submitBtn">
      Submit
    </button>
  </mat-card>

  <div class="feedbackContainer">
    <h3>{{ feedbackMsg }}</h3>
  </div>

  <div class="scrollContainer">
    <button mat-button (click)="scrollDown()">See Questions</button>
  </div>

  <div class="questionContainer" id="qContainer">
    <div *ngIf="questionArray.length > 0; else emptyList">
      <mat-card *ngFor="let item of questionArray">
        <mat-card-header>{{ item.name }}</mat-card-header>
        <mat-card-content>
          {{ item.timestamp }}
          <br />
          {{ item.question }}
        </mat-card-content>
      </mat-card>
    </div>

    <ng-template #emptyList>
      <div>
        <h3>There's nothing here!</h3>
      </div>
    </ng-template>
  </div>
</div>

<div *ngIf="showAdmin">
  <div *ngIf="!userAuthenticated">
    <mat-card>
      <mat-card-header>
        <h3>Admin Login</h3>
      </mat-card-header>
      <mat-card-content class="adminForm">
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input
            [(ngModel)]="userLogin"
            matInput
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            [(ngModel)]="userPass"
            matInput
            [ngModelOptions]="{ standalone: true }"
            type="password"
          />
        </mat-form-field>
        <button mat-button (click)="loginUser()">Submit</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="userAuthenticated">
    <mat-card>
      <mat-card-header>
        <h3>header</h3>
      </mat-card-header>
      <mat-card-content class="adminPanel">
        <h3>content</h3>
      </mat-card-content>
      <mat-card-footer>
        <h3>footer</h3>
        <button mat-button (click)="signOutUser()">Logout</button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
