mat-card {
    width:  40%;
    margin: 25px auto 10px auto;
}

.qTimestamp {
    position: absolute;
    top: 5px;
    right: 5px;
}

textArea {
    width: 80%;
}

.logoutBtn {
    position: absolute;
    top: 10px;
    right: 20px;
}